/*!* Global Rest @author WangPing @Date:2014-08/18 10:26:48*/
body {
    font: 13px/1.5 Microsoft YaHei, Helvetica, Tahoma;
    color: #475058;
    background-color: #f0f4f7;
    _background-image: url(about:blank);
    _background-attachment: fixed
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr,
acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup,
tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot,
thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, mark, audio, video, canvas {
    display: block
}

address, cite, dfn, em, var, b, sub, sup {
    font-style: normal
}

code, kbd, pre, samp {
    font-family: courier new, courier, monospace
}

h1, h2, h3, h4, h5, h6, button, input, select, textarea {
    font-size: 100%
}

input, textarea, select {
    font-family: Microsoft YaHei, Helvetica, Tahoma
}

fieldset, img {
    border: 0
}

sup, sub {
    font-size: 0.6em
}

ul, ol {
    list-style: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

input {
    outline: 0
}

textarea {
    -moz-outline: 0;
    outline: 0;
    overflow: auto;
    vertical-align: top;
    resize: none;
    -webkit-appearance: none
}

img {
    vertical-align: middle
}

iframe {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%
}

a {
    color: #349cd8;
    text-decoration: none
}

a:hover {
    text-decoration: underline
}

.none {
    display: none
}

.block {
    display: block
}

.fl {
    float: left;
    display: inline
}

.fr {
    float: right
}

.light-green {
    color: #18b160
}

.light-red {
    color: #d56363
}

.light-org {
    color: #fc9b5e
}

.light-blue {
    color: #349cd8
}

.light-gray {
    color: #8a949c
}

.clearfix:after, #header:after, #footer:after, .model-box:after, #main:after, #wrapper:after, #wrap:after, .yol-top:after, .redeem-items:after, #mainsub:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: ".";
    clear: both;
    height: 0;
    overflow: hidden
}

.clearfix, #header, #footer, .model-box, #main, #wrapper, #wrap, .yol-top, .redeem-items, #mainsub {
    *zoom: 1
}

#wrapper, #wrap, #header .inner, #footer .inner, .yol-top {
    margin: 0 auto;
    width: 1000px
}

#header {
    height: 140px;
    position: relative;
    z-index: 101;
    margin-bottom: 10px;
    background: #f0f4f7
}

#header .inner, #footer .inner {
    height: inherit;
    position: relative;
    z-index: 5
}

#wrapper {
    background: #fff;
    border: 1px solid #e8ecef
}

#wrapper, #wrap {
    margin: 0 auto 30px;
    overflow: hidden
}

#sidebar {
    width: 170px;
    float: left;
    display: inline;
    border-right: 1px solid #e8ecef
}

#main {
    /*margin: 0 20px 0 190px;*/
    overflow: hidden
}

#sidesub {
    width: 250px;
    margin-right: 30px;
    float: right;
    padding: 30px 0 0 30px;
    border-left: 1px solid #e8ecef
}

#mainsub {
    margin: 0 340px 0 30px;
    overflow: hidden;
    padding-top: 30px
}

#sidebar, #main, #sidesub, #mainsub {
    margin-bottom: -29999px;
    padding-bottom: 29999px;
    min-height: 750px;
    height: auto !important;
    height: 750px;
    _overflow: visible
}

.r3, .gbtn, .model-box, .dialog-main, input, .custom-select {
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px
}

.r5, #wrapper {
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px
}

.r10 {
    -moz-border-radius: 10px;
    -khtml-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px
}

.shadow {
    -webkit-box-shadow: 2px 2px 3px #e6e7e5 inset;
    -moz-box-shadow: 2px 2px 3px #e6e7e5 inset;
    -o-box-shadow: 2px 2px 3px #e6e7e5 inset;
    -ms-box-shadow: 2px 2px 3px #e6e7e5 inset;
    box-shadow: 2px 2px 3px #e6e7e5 inset
}

.opacity {
    opacity: 0.5;
    filter: alpha(opacity=50)
}

[class^="arrows-"], [class*=" arrows-"] {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: top;
    border-width: 8px;
    border-style: solid;
    border-color: transparent;
    overflow: hidden;
    content: ""
}

.arrows-up {
    border-bottom-color: #fff
}

.arrows-right {
    border-left-color: #fff
}

.arrows-down {
    border-top-color: #fff
}

.arrows-left {
    border-right-color: #fff
}

.arrows-up-in {
    border-bottom-color: #fff
}

.arrows-right-in {
    border-left-color: #fff
}

.arrows-down-in {
    border-top-color: #fff
}

.arrows-left-in {
    border-right-color: #fff
}

.load32 {
    height: 32px;
    width: 32px;
    background: url(../../../local/img/common/loading_32x32.gif) no-repeat center center
}

.load344 {
    height: 13px;
    width: 344px;
    background: url(../../../local/img/common/indeterminate_bar.gif) no-repeat center center
}

.icons {
    width: 16px;
    height: 16px;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px;
    display: inline-block;
    background: url(../../../local/img/common/sprites.png) no-repeat
}

.button-rmb {
    background-position: -41px -94px;
    height: 20px;
    width: 20px
}

.button-wit {
    background-position: -54px -115px;
    height: 13px;
    width: 16px
}

.add-gray {
    background-position: -72px -113px;
    width: 14px;
    height: 14px
}

.add-blue {
    background-position: -88px -113px;
    width: 14px;
    height: 14px
}

.yhelp {
    background-position: -120px -98px;
    width: 12px;
    height: 12px
}

.yhelp:hover {
    background-position: -103px -98px
}

.yinfo {
    background-position: -86px -98px;
    width: 12px;
    height: 12px
}

.yinfo:hover {
    background-position: -69px -98px
}

.yinfo-org {
    background-position: -135px -98px;
    width: 12px;
    height: 12px
}

.proper-green {
    background-position: -151px -98px;
    width: 12px;
    height: 12px
}

.yarrow {
    background-position: -121px -80px;
    width: 11px;
    height: 11px
}

.yarrow:hover {
    background-position: -105px -80px
}

.yclose {
    background-position: -68px -77px;
    width: 8px;
    height: 8px
}

.cm-white {
    background-position: -105px -114px;
    width: 10px;
    height: 8px
}

.cm-green {
    background-position: -117px -113px;
    width: 12px;
    height: 9px
}

.cm-gray {
    background-position: -118px -125px;
    width: 14px;
    height: 12px
}

.arrow-red-down {
    background-position: -83px -65px;
    width: 11px;
    height: 13px
}

.arrow-yellow-up {
    background-position: -97px -65px;
    width: 11px;
    height: 13px
}

.arrow-blue-r {
    background-position: -434px 0;
    width: 14px;
    height: 13px
}

.arrow-up {
    background-position: -40px -129px;
    width: 9px;
    height: 5px
}

.arrow-down {
    background-position: -40px -134px;
    width: 9px;
    height: 5px
}

.arrow-blue-up {
    background-position: -50px -129px;
    width: 9px;
    height: 5px
}

.arrow-blue-down {
    background-position: -50px -134px;
    width: 9px;
    height: 5px
}

.arrow-gray-dotr {
    background-position: -91px -143px;
    width: 7px;
    height: 11px
}

.arrow-gray-dotl {
    background-position: -82px -143px;
    width: 7px;
    height: 11px
}

.arrow-gray-dott {
    background-position: -70px -140px;
    width: 11px;
    height: 8px
}

.arrow-gray-dotb {
    background-position: -70px -149px;
    width: 11px;
    height: 8px
}

.arrow-blue-dotr {
    background-position: -49px -143px;
    width: 7px;
    height: 11px
}

.arrow-blue-dotl {
    background-position: -40px -143px;
    width: 7px;
    height: 11px
}

.arrow-blue-dott {
    background-position: -57px -140px;
    width: 11px;
    height: 8px
}

.arrow-blue-dotb {
    background-position: -57px -149px;
    width: 11px;
    height: 8px
}

.arrow-white-dotr {
    background-position: -89px -130px;
    width: 7px;
    height: 11px
}

.arrow-group-gray {
    background-position: -63px -129px;
    width: 7px;
    height: 10px
}

.arrow-group-down {
    background-position: -79px -129px;
    width: 7px;
    height: 10px
}

.arrow-group-up {
    background-position: -71px -129px;
    width: 7px;
    height: 10px
}

.ver-green-down {
    background-position: -101px -129px;
    width: 14px;
    height: 16px
}

.green-proper {
    background-position: -116px -144px;
    width: 16px;
    height: 16px
}

.reg-error {
    background-position: -471px -120px;
    width: 16px;
    height: 16px
}

.refresh-todo {
    background-position: -102px -148px;
    width: 12px;
    height: 12px
}

.ltd-zaxy {
    background-position: -640px 0px
}

.ltd-jrld {
    background-position: -640px -20px
}

.ltd-zdsd {
    background-position: -640px -40px
}

.ltd-ajsh {
    background-position: -640px -60px
}

.ltd-afdb {
    background-position: -640px -80px
}

.ltd-zxwd {
    background-position: -640px -100px
}

.ltd-wc {
    background-position: -640px -120px
}

.ltd-ycdk {
    background-position: -640px -140px
}

.ltd-xrtz {
    background-position: -640px -160px
}

.ltd-yfxd {
    background-position: -640px -180px
}

.ltd-shrx {
    background-position: -640px -200px
}

.ltd-xh {
    background-position: -640px -220px
}

.ltd-hrjt {
    background-position: -640px -240px
}

.ltd-txxd {
    background-position: -640px -260px
}

.ltd-zrby {
    background-position: -640px -280px
}

.ltd-jgxd {
    background-position: -660px 0
}

.ltd-jcgl {
    background-position: -660px -20px
}

.ltd-fhxd {
    background-position: -660px -40px
}

.ltd-tsxd {
    background-position: -660px -60px
}

.ltd-hxxd {
    background-position: -661px -140px
}

.ltd-sjjr {
    background-position: -660px -80px
}

.ltd-ztx {
    background-position: -660px -160px
}

.ltd-xyxd {
    background-position: -660px -180px
}

.ltd-ksjl {
    background-position: -660px -200px
}

.ltd-rktz {
    background-position: -660px -220px
}

.ltd-zyht {
    background-position: -660px -240px
}

.ltd-qzq {
    background-position: -660px -260px
}

.ltd-az {
    background-position: -660px -280px
}

.ltd-hty {
    background-position: -680px 0
}

.ltd-yec {
    background-position: -680px -20px
}

.ltd-zbht {
    background-position: -680px -40px
}

.ltd-gddf {
    background-position: -680px -60px
}

.ltd-gzxd {
    background-position: -680px -80px
}

.ltd-hyds {
    background-position: -680px -100px
}

.ltd-lxkj {
    background-position: -680px -120px
}

.ltd-cyp {
    background-position: -680px -140px
}

.ltd-phyj {
    background-position: -680px -160px
}

.back-ele {
    background-position: -371px -63px;
    width: 16px;
    height: 16px
}

.dot20 {
    background-position: -133px -71px;
    width: 20px;
    height: 20px;
    font-style: normal
}

.dot24 {
    background-position: -157px -71px;
    width: 24px;
    height: 24px;
    font-style: normal
}

.ask50 {
    background-position: -136px 0;
    width: 50px;
    height: 50px;
    font-style: normal
}

.arrow-uarr {
    width: 9px;
    height: 10px;
    background-position: -378px -143px
}

.arrow-darr {
    width: 9px;
    height: 10px;
    background-position: -378px -160px
}

.ndash {
    width: 8px;
    height: 8px;
    background-position: -189px -88px
}

.new-tag {
    width: 26px;
    height: 11px;
    background-position: -501px -141px
}

.app-yl {
    width: 12px;
    height: 20px;
    background-position: -205px -280px
}

.get-calcu {
    width: 15px;
    height: 16px;
    background-position: -428px -204px
}

.set-tools {
    background-position: -446px -203px
}

.success-green60 {
    background-position: -372px 0;
    width: 60px;
    height: 60px
}

.success-gray60 {
    background-position: -390px -240px;
    width: 60px;
    height: 60px
}

.failed-red60 {
    background-position: -454px -240px;
    width: 60px;
    height: 60px
}

.failed-gray60 {
    background-position: -454px -240px;
    width: 60px;
    height: 60px
}

.tanhao-gray60 {
    background-position: -518px -240px;
    width: 60px;
    height: 60px
}

.hot-green80 {
    background-position: -522px 0;
    width: 80px;
    height: 80px
}

.hot-green50 {
    background-position: -585px -240px;
    width: 51px;
    height: 51px
}

.xin-tag {
    background-position: -615px -124px
}

.fix-tag {
    background-position: -501px -123px
}

.jiang-tag {
    background-position: -594px -124px
}

.zhuan {
    background-position: -416px -62px
}

.zidong {
    background-position: -573px -124px
}

.ding {
    background-position: -552px -124px
}

.yue {
    background-position: -573px -103px
}

.rmb {
    font-family: Microsoft YaHei
}

.yFlag {
    width: 12px;
    height: 16px;
    overflow: hidden;
    cursor: pointer
}

.yFlag .ico {
    width: 12px;
    height: 16px;
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
    background: url(../../../local/img/common/fs.png) no-repeat 0 -99px
}

.yFlag .selected {
    width: 12px;
    height: 16px;
    background-position: 0 -80px
}

.yCheckbox, .yRadio {
    width: 18px;
    height: 18px;
    overflow: hidden;
    cursor: pointer;
    position: relative
}

.yCheckbox .ico, .yRadio .ico {
    width: 18px;
    height: 18px;
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
    background: url(../../../local/img/common/fs.png) no-repeat 0 -40px
}

.yCheckbox .hover {
    background-position: 0 0
}

.yCheckbox .selected {
    background-position: 0 -20px
}

.yCheckbox .disabled, .yCheckbox .disabled2 {
    background-position: 0 -40px;
    cursor: default;
    opacity: 0.5;
    filter: alpha(opacity=50)
}

.yCheckbox .disabled2 {
    background-position: 0 -60px
}

.yRadio {
    width: 12px;
    height: 12px
}

.yRadio .ico {
    width: 12px;
    height: 12px;
    background-position: 0 -121px
}

.yRadio .selected {
    background-position: 0 -136px
}

.yRadio .disabled {
    background-position: 0 -121px;
    cursor: default;
    opacity: 0.5;
    filter: alpha(opacity=50)
}

.gbtn, .gbtn-disabled, .gbtn-org {
    color: #fff;
    font-size: 13px;
    position: relative;
    white-space: nowrap;
    background: #15456f;
    display: inline-block;
    padding: 3px 5px;
    cursor: pointer;
    overflow: hidden;
    font-family: Microsoft YaHei
}

.gbtn:visited {
    color: #fff
}

.gbtn:hover {
    background: #1a588e;
    text-decoration: none;
    color: #fff
}

.gbtn-org {
    background: #fc8936
}

.gbtn-org:hover {
    background: #EC7824
}

.gbtn-gray {
    background: #e7ecef;
    color: #333
}

.gbtn-gray:visited {
    color: #333
}

.gbtn-gray:hover {
    background: #e7ecef;
    color: #333
}

.gbtn-disabled {
    background: #a1acb4;
    cursor: default
}

.gbtn-disabled:hover {
    background: #a1acb4
}

.getCodeBotton, .codeDisabled {
    color: #fff;
    font-size: 13px;
    cursor: pointer;
    position: relative;
    white-space: nowrap;
    background: #fc8936;
    display: inline-block;
    padding: 3px 5px;
    cursor: pointer;
    overflow: hidden
}

.codeDisabled {
    background: #e8ecef;
    cursor: default;
    color: #a1acb4
}

#header .b {
    height: 40px;
    background: #475058;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    min-width: 1000px;
    z-index: 1
}

#header .service {
    height: 40px;
    position: absolute;
    left: 0;
    top: 0;
    line-height: 40px;
    color: #8a949c
}

#header .service b {
    float: left;
    display: inline
}

#header .service li {
    float: left;
    display: inline;
    height: 40px;
    padding-left: 20px;
    position: relative
}

#header .hotline .icons {
    background-position: -191px -146px;
    width: 14px;
    height: 14px;
    position: absolute;
    left: 0;
    top: 14px
}

#header .hotline em {
    font-family: Tahoma;
    font-size: 20px;
    padding-left: 5px;
    float: left;
    display: inline;
    line-height: normal;
    margin-top: 6px
}

#header .concerns {
    color: #8a949c
}

#header .weibo {
    background-position: -225px -77px;
    width: 16px;
    height: 13px;
    float: left;
    display: inline;
    margin: 13px 10px 0 10px
}

#header .weibo:hover {
    background-position: -225px -60px
}

#header .weixin {
    background-position: -206px -219px;
    width: 19px;
    height: 14px;
    float: left;
    display: inline;
    margin-top: 13px
}

#header .weixin:hover {
    background-position: -206px -201px
}

.loginbar {
    height: 40px;
    position: absolute;
    right: 10px;
    top: 0;
    line-height: 40px
}

.loginbar .for {
    float: left
}

.loginbar .for a {
    display: inline-block;
    margin-left: 20px;
    position: relative
}

.loginbar .for a:hover {
    text-decoration: underline
}

.loginbar .for .new-tag {
    position: absolute;
    top: 2px;
    right: 0
}

.loginbar .for .app-yl {
    position: absolute;
    top: 10px;
    left: -16px
}

.account-infos {
    float: left;
    color: #8a949c
}

.account-infos a, .account-infos a:visited {
    color: #8a949c
}

.account-infos a:hover {
    text-decoration: underline;
    color: #ccc
}

.account-infos li {
    height: 40px;
    float: left;
    display: inline;
    padding-left: 20px;
    position: relative
}

.account-infos li .new-tag {
    position: absolute;
    right: -5px;
    top: 4px
}

.account-infos li .app-yl {
    position: absolute;
    left: 22px;
    top: 10px
}

.account-infos li.setstatus {
    width: 40px;
    padding: 0
}

.account-infos li.setstatus a {
    width: 16px;
    height: 16px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -8px 0 0 -8px;
    display: block;
    background: url(../../../local/img/common/sprites.png) no-repeat -205px -160px
}

.account-infos li.setstatus a:visited {
    color: #fff
}

.account-infos li.setstatus a:hover {
    background-position: -205px -180px
}

.account-infos li.setstatus .num {
    width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    color: #fff;
    font-style: normal;
    font-weight: normal;
    position: absolute;
    left: 8px;
    top: -8px;
    font-size: 12px;
    background: url(../../../local/img/common/sprites.png) no-repeat -133px -140px
}

.account-infos li.setstatus .num-two {
    width: 17px;
    padding-left: 2px;
    text-align: left;
    background-position: -458px -155px
}

.account-infos li.setstatus .num-three {
    width: 22px;
    text-align: left;
    padding-left: 2px;
    background-position: -480px -155px
}

.account-infos li.setting .icons {
    width: 9px;
    height: 5px;
    background-position: -222px -93px;
    margin-left: 3px
}

.account-infos li.setting a:hover .icons {
    width: 9px;
    height: 5px;
    background-position: -232px -93px
}

#header .logo {
    width: 340px;
    height: 51px;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 70px
}

#header .logo img {
    display: block
}

#header .logo h2 {
    float: left;
    display: inline;
    width: 320px;
    height: 51px;
    overflow: hidden
}

#header .logo h1 {
    float: left;
    display: inline;
    width: 193px;
    height: 46px;
    margin: 4px 0 0 10px;
    text-indent: -9999em;
    overflow: hidden;
    display: none
}

.userbar {
    height: 40px;
    font-size: 16px;
    line-height: 40px;
    position: absolute;
    top: 75px;
    right: 10px
}

#header .logo-gif {
    width: 218px;
    height: 78px;
    top: 55px
}

#header .logo-gif h2 {
    width: 218px;
    height: 78px
}

.userbar a, .userbar a:visited {
    color: #475058
}

.userbar a:hover {
    color: #349cd8;
    text-decoration: none
}

.userbar .nav {
    height: 40px;
    float: left;
    display: inline;
    border-right: 1px solid #fff
}

.userbar .nav li {
    float: left;
    display: inline;
    padding: 0 13px;
    position: relative
}

.userbar .nav a.current {
    color: #349cd8
}

.userbar .nav a.current:visited {
    color: #349cd8
}

.userbar .nav .dropdown {
    position: absolute;
    left: 50%;
    top: 0;
    width: 75px;
    margin-left: -38px;
    text-align: center;
    font-size: 14px;
    background: #fff;
    border: 1px solid #c0c9ce;
    border-radius: 3px;
    display: none
}

.userbar .nav .dropdown b {
    position: absolute;
    left: 50%;
    top: -13px;
    overflow: hidden;
    margin-left: -6px;
    width: 0;
    height: 0;
    font-size: 0;
    border-width: 6px;
    border-style: dashed dashed solid dashed;
    border-color: transparent transparent #adadad transparent
}

.userbar .nav .dropdown .arrow_up_in {
    top: -12px;
    border-color: transparent transparent #fff transparent
}

.userbar .nav .dropdown a {
    display: block;
    height: 35px;
    line-height: 35px;
    color: #69737b;
    border-top: 1px solid #c0c9ce;
    margin-top: -1px
}

.userbar .nav .dropdown a:hover {
    background: #f0f4f7;
    color: #349cd8
}

.userbar .nav .dropdown a.current {
    background: #f0f4f7;
    color: #69737b
}

.userbar .use {
    float: left;
    height: 40px;
    display: inline;
    border-left: 1px solid #c0c9d0
}

.userbar .use a {
    float: left;
    display: inline;
    margin-left: 15px;
    text-align: center;
    width: 94px;
    height: 40px;
    background: url(../../../local/img/common/sprites.png) no-repeat -97px -260px
}

.userbar .use a.current, .userbar .use a:hover {
    background-position: 0 -260px;
    color: #fff;
    text-decoration: none
}

#footer a, #footer a:visited {
    color: #475058
}

#footer a:hover {
    color: #349cd8
}

#footer .t, #footer .b {
    position: absolute;
    left: 0;
    z-index: 1;
    width: 100%;
    min-width: 1000px
}

#footer .t {
    background: #f0f4f7;
    height: 140px;
    top: 0
}

#footer .b {
    background: #475058;
    height: 90px;
    top: 140px
}

#footer .fool {
    height: inherit;
    float: left;
    display: inline;
    width: 59%
}

#footer .foor {
    height: inherit;
    float: right;
    width: 40%
}

#footer .navsub {
    height: 50px;
    padding-top: 20px
}

#footer .navsub li {
    float: left;
    display: inline;
    padding-right: 15px
}

#footer .cabout {
    height: 70px;
    position: relative
}

#footer .cabout h2 {
    float: left;
    display: inline;
    padding-top: 15px
}

#footer .cabout li {
    float: left;
    display: inline;
    width: 48px;
    height: 48px;
    margin-left: 30px;
    position: relative
}

#footer .cabout a {
    display: block;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.6s cubic-bezier(0.34, 0.67, 0.17, 0.95);
    background-color: #adb7be;
    background-color: transparent \9;
    background: url(../../../local/img/common/sprites.png) no-repeat -150px -209px \9
}

#footer .cabout a:hover {
    background-color: #adb7be;
    background-color: transparent \9;
    background-position: -100px -209px \9
}

#footer .cabout a:after {
    box-shadow: 0 0 0 2px #adb7be
}

#footer .cabout a .icons {
    position: absolute;
    left: 50%;
    top: 50%
}

#footer .cabout a.weibo .icons {
    width: 31px;
    height: 26px;
    margin: -13px 0 0 -15px;
    background-position: -268px -60px
}

#footer .cabout a.weixin .icons {
    width: 33px;
    height: 25px;
    margin: -13px 0 0 -16px;
    background-position: -268px -88px
}

#footer .cabout a.tqq .icons {
    width: 24px;
    height: 24px;
    margin: -12px 0 0 -12px;
    background-position: -242px -69px
}

#footer .cabout a.ios .icons {
    width: 25px;
    height: 29px;
    margin: -16px 0 0 -12px;
    background-position: -586px -141px
}

#footer .cabout a.android .icons {
    width: 24px;
    height: 30px;
    margin: -15px 0 0 -12px;
    background-position: -612px -141px
}

#footer .cabout h2.app-lf {
    margin-left: 100px
}

.hovereffect:after {
    top: -1px;
    left: -1px;
    padding: 1px;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content: '';
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
    -webkit-transform: scale(0.8);
    -moz-transition: -moz-transform 0.2s, opacity 0.2s;
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transition: transform 0.2s, opacity 0.2s;
    transform: scale(0.8);
    opacity: 0
}

.hovereffect:hover:after {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1
}

.dialog-main {
    background: #fff;
    width: 400px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    display: none
}

.dialog-head {
    height: 40px;
    line-height: 40px;
    position: relative;
    padding: 0 10px;
    font-size: 14px;
    border-bottom: 1px solid #e7ecee;
    cursor: move
}

.dialog-head .closeModal {
    width: 24px;
    height: 24px;
    float: right;
    overflow: hidden;
    position: absolute;
    right: 10px;
    top: 8px;
    background: #e7ecee
}

.dialog-head .closeModal .icons {
    background-position: -68px -77px;
    width: 8px;
    height: 8px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -4px 0 0 -4px
}

.dialog-head .closeModal .icons:hover {
    background-position: -68px -77px
}

.dialog-foot {
    background: #e7ecee;
    height: 50px;
    border-radius: 0 0 3px 3px;
    position: relative
}

.dialog-foot .bank-action {
    float: left;
    position: relative;
    left: 50%;
    padding-top: 10px
}

.dialog-foot .bank-action a {
    padding: 0 15px 0 25px;
    height: 30px;
    line-height: 30px;
    margin-right: 10px;
    float: left;
    display: inline;
    white-space: nowrap;
    position: relative;
    left: -50%;
    overflow: hidden
}

.dialog-foot .bank-action .icons {
    position: absolute;
    left: 13px;
    top: 10px
}

.dialog-foot .bank-delete {
    background: #fff;
    color: #475058
}

.dialog-foot .bank-bind {
    background: #15456f;
    color: #fff
}

.dialog-foot .bank-bind:visited {
    color: #fff
}

.model-dialog-bg {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 107;
    widht: 100%;
    height: 100%;
    background: #fff;
    opacity: .75;
    filter: alpha(opacity=75)
}

.model-dialog {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 109;
    width: 550px;
    overflow: auto;
    display: none;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 4px 23px 5px rgba(0, 0, 0, 0.2), 0 2px 6px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 4px 23px 5px rgba(0, 0, 0, 0.2), 0 2px 6px rgba(0, 0, 0, 0.15);
    box-shadow: 0 4px 23px 5px rgba(0, 0, 0, 0.2), 0 2px 6px rgba(0, 0, 0, 0.15);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-transition: 200ms -webkit-transform;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px
}

.model-head {
    height: 40px;
    line-height: 40px;
    position: relative;
    padding: 0 10px;
    font-size: 14px;
    border-bottom: 1px solid #e7ecee;
    cursor: move
}

.model-head .model-close {
    width: 24px;
    height: 24px;
    float: right;
    overflow: hidden;
    position: absolute;
    right: 10px;
    top: 8px;
    background: #e7ecee
}

.model-head .model-close .icons {
    background-position: -68px -77px;
    width: 8px;
    height: 8px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -4px 0 0 -4px
}

.model-head .model-close .icons:hover {
    background-position: -68px -77px
}

.model-body {
    min-height: 60px;
    padding: 20px
}

.model-foot {
    background: #e7ecee;
    height: 50px;
    border-radius: 0 0 3px 3px;
    position: relative
}

.model-foot .inner {
    float: left;
    position: relative;
    left: 50%;
    padding-top: 10px
}

.model-foot .inner a {
    padding: 0 15px 0 25px;
    height: 30px;
    line-height: 30px;
    margin-right: 10px;
    float: left;
    display: inline;
    white-space: nowrap;
    position: relative;
    left: -50%;
    overflow: hidden
}

.model-foot .inner .icons {
    position: absolute;
    left: 13px;
    top: 10px
}

.model-foot .model-close {
    background: #fff;
    color: #475058
}

.model-foot .model-yes {
    background: #15456f;
    color: #fff
}

.model-foot .model-yes:visited {
    color: #fff
}

.tab-items {
    display: none
}

.tool-tip .ar_up, .tool-tip .ar_up_in, .tool-tip .ar_down, .tool-tip .ar_down_in {
    position: absolute;
    left: 50%;
    top: -16px;
    overflow: hidden;
    margin-left: -8px;
    width: 0;
    height: 0;
    font-size: 0;
    border-width: 8px;
    border-style: dashed dashed solid dashed;
    border-color: transparent transparent #adadad transparent
}

.tool-tip .ar_up_in {
    top: -15px;
    border-color: transparent transparent #fff transparent
}

.tool-tip .ar_down, .tool-tip .ar_down_in {
    top: auto;
    bottom: -16px;
    border-style: solid dashed dashed dashed;
    border-color: #bac6cd transparent transparent transparent
}

.tool-tip .ar_down_in {
    top: auto;
    bottom: -15px;
    border-color: #fff transparent transparent transparent
}

.tool-title-tip .ar_up_in {
    border-color: transparent transparent #e8ecef transparent
}

.tool-title-tip .ar_down_in {
    border-color: #fff transparent transparent transparent
}

.tool-tip a, .tool-tip a:visited {
    color: #349cd8;
    text-decoration: underline
}

.tool-tip a:hover {
    text-decoration: none
}

.tool-tip .items {
    background: #fff;
    border: 1px solid #c0c9ce;
    border-radius: 3px;
    color: #8a949c;
    font-size: 12px
}

.tool-tip-col {
    padding: 10px 15px
}

.tool-tip-cols ul, .tool-tipbag ul {
    overflow: hidden;
    zoom: 1;
    list-style: none;
    padding: 10px 15px
}

.tool-tip-cols li, .tool-tipbag li {
    text-align: left;
    float: left;
    display: inline
}

.tool-tip-cols li.y_0 {
    width: 25%
}

.tool-tip-cols li.y_1 {
    width: 74%
}

.tool-tipbag li.y_0 {
    width: 30%
}

.tool-tipbag li.y_1 {
    width: 25%
}

.tool-tipbag li.y_2 {
    width: 44%
}

.tool-tip-cols ul.title, .tool-tipbag ul.title {
    height: 40px;
    line-height: 40px;
    background: #e8ecef;
    padding: 0 15px
}

.arrow-eml-gray-down {
    position: absolute;
    left: 50%;
    bottom: -28px;
    margin-left: 14px;
    overflow: hidden;
    width: 0;
    height: 0;
    font-size: 0;
    border-width: 14px;
    border-style: solid dashed dashed dashed;
    border-color: #f0f4f7 transparent transparent transparent
}

.yPrompt {
    position: absolute;
    left: 0;
    top: 0
}

.yPrompt .ar_up, .yPrompt .ar_up_in, .yPrompt .ar_down, .yPrompt .ar_down_in {
    position: absolute;
    left: 50%;
    top: -16px;
    overflow: hidden;
    margin-left: -8px;
    width: 0;
    height: 0;
    font-size: 0;
    border-width: 8px;
    border-style: dashed dashed solid dashed;
    border-color: transparent transparent #555 transparent
}

.yPrompt .ar_up_in {
    top: -15px;
    border-color: transparent transparent #fff transparent
}

.yPrompt .ar_down, .yPrompt .ar_down_in {
    top: auto;
    bottom: -16px;
    border-style: solid dashed dashed dashed;
    border-color: #555 transparent transparent transparent
}

.yPrompt .ar_down_in {
    top: auto;
    bottom: -15px;
    border-color: #fff transparent transparent transparent
}

.yPrompt .prompt-cont {
    background: #fff;
    border: 1px solid #999;
    padding: 5px 10px;
    max-width: 300px;
    _width: 150px;
    color: #333;
    font-size: 12px;
    white-space: nowrap
}

.yPromptErr .ar_up, .yPromptErr .ar_up_in, .yPromptErr .ar_down, .yPromptErr .ar_down_in {
    border-style: dashed dashed solid dashed;
    border-color: transparent transparent #F00 transparent
}

.yPromptErr .ar_up_in {
    border-color: transparent transparent #fff transparent
}

.yPromptErr .ar_down, .yPromptErr .ar_down_in {
    border-style: solid dashed dashed dashed;
    border-color: #F00 transparent transparent transparent
}

.yPromptErr .ar_down_in {
    border-color: #fff transparent transparent transparent
}

.yPromptErr .prompt-cont {
    border: 1px solid #F84F4F;
    color: #F00
}

input.input {
    height: 18px;
    line-height: 18px;
    width: 240px;
    padding: 11px 5px;
    border: 1px solid #b4b9bd
}

input.focus {
    border: 1px solid #349cd8
}

input.inputErr {
    border: 1px solid #d35353
}

.custom-select {
    height: 40px;
    width: 250px;
    border: 1px solid #b4b9bd;
    overflow: hidden;
    position: relative
}

.custom-select select {
    width: 255px;
    height: 40px
}

.callback-focus {
    background: #fff;
    color: #8a949c
}

.callback-error {
    background: #fff;
    color: #d35353
}

.callback-succeed {
    background: #fff;
    color: #18b160
}

.yPager {
    padding: 10px;
    color: #8a949c;
    height: 25px;
    position: relative;
    clear: both
}

.yPager .inner {
    position: relative;
    left: 50%;
    float: left
}

.yPager a, .yPager span {
    position: relative;
    left: -50%;
    padding: 0 8px;
    height: 24px;
    line-height: 24px;
    overflow: hidden;
    display: inline-block;
    margin-left: 8px;
    border-radius: 3px
}

.yPager a {
    background: #e8ecf0;
    color: #a1acb4
}

.yPager a:visited {
    color: #a1acb4
}

.yPager a:hover, .yPager .current {
    background: #15456f;
    color: #fff
}

.yPager .current:visited {
    color: #fff
}

.yPager .disabled {
    background: #e8ecef;
    color: #8a949c;
    opacity: 0.5;
    filter: alpha(opacity=50)
}

.udPager {
    padding: 10px;
    color: #8a949c;
    height: 25px;
    position: relative;
    clear: both
}

.udPager .inner {
    float: right
}

.udPager a, .udPager span {
    padding: 0 8px;
    height: 24px;
    line-height: 24px;
    overflow: hidden;
    float: left;
    display: inline;
    margin-left: 10px;
    border-radius: 3px
}

.udPager a {
    background: #e8ecf0;
    color: #a1acb4
}

.udPager a:visited {
    color: #a1acb4
}

.udPager a:hover {
    background: #15456f;
    color: #fff
}

.udPager .disabled {
    background: #e8ecef;
    color: #8a949c;
    opacity: 0.5;
    filter: alpha(opacity=50)
}

.model-box {
    border: 1px solid #d3d8dc;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
    zoom: 1;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}

#YModal {
    position: absolute;
    left: 0;
    top: 0;
    background: #000;
    z-index: 999;
    opacity: 0.5;
    filter: alpha(opacity=50)
}

.emailtip {
    overflow: hidden;
    zoom: 1;
    position: absolute;
    border: 1px solid #b4b9bd;
    background: #fff;
    display: none
}

.emailtip a {
    display: block;
    cursor: pointer;
    height: 18px;
    line-height: 18px;
    padding: 2px 5px;
    overflow: hidden;
    word-wrap: break-word
}

.emailtip a em {
    font-weight: 500
}

.emailtip a.active {
    background: #eaeaea
}

.emailtip a.hover {
    background: #e7f6ff
}

.jTabs {
    height: 50px;
    position: relative;
    z-index: 5
}

.jTabs ul {
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 50px
}

.jTabs li {
    height: 35px;
    padding: 13px 40px 0 40px;
    float: left;
    display: inline;
    border: 1px solid #d0d5d9;
    border-bottom: 0;
    margin-right: 40px;
    background: #e7ecee;
    font-size: 16px;
    border-radius: 5px 5px 0 0;
    cursor: pointer
}

.jTabs li .r5 {
    color: #fff;
    height: 16px;
    line-height: 16px;
    font-size: 12px;
    font-weight: normal;
    padding: 0 6px;
    background: #a1acb4;
    display: inline-block;
    margin-left: 5px
}

.jTabs li.current {
    background: #fff;
    color: #349cd8;
    height: 36px;
    border: 1px solid #d0d5d9;
    border-bottom: 0
}

.jTabs li.current .r5 {
    background: #15456f
}

.jPanel {
    display: none
}

.link-service {
    height: 25px;
    width: 100%;
    line-height: 25px;
    font-size: 12px;
    overflow: hidden;
    border-top: 1px solid #325675;
    border-left: 1px solid #325675;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 999;
    text-align: center;
    color: #fff;
    _position: absolute;
    _bottom: auto;
    _top: expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)))
}

.link-service {
    width: 190px;
    left: auto;
    right: 0
}

.link-service a {
    position: relative;
    z-index: 5;
    padding-left: 20px;
    color: #fff;
    display: inline-block;
    _margin-top: 2px
}

.link-service a:visited {
    color: #fff
}

.link-service a:hover {
    color: #fc8936
}

.link-service .icons {
    width: 14px;
    height: 14px;
    position: absolute;
    left: 0;
    top: 5px;
    background-position: -205px -260px
}

.link-service b {
    height: 100%;
    width: 100%;
    border-top: 1px solid #6d8aa3;
    border-left: 1px solid #6d8aa3;
    background: #224e73;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3
}

.content-post {
    padding: 30px 0;
    margin: 0 30px;
    min-height: 450px;
    height: auto !important;
    height: 450px;
    _overflow: visible
}

.title-sub {
    position: relative;
    height: 40px;
    border-bottom: 1px solid #e7ecee;
    clear: both;
    margin: 0 30px
}

.title-sub .toback {
    position: absolute;
    right: 0;
    top: 24px;
    z-index: 5;
    float: left;
    height: 30px;
    line-height: 30px;
    width: 60px;
    background: #e8ecef;
    text-align: center;
    text-indent: 10px;
    color: #475058
}

.title-sub .toback .icons {
    position: absolute;
    left: 10px;
    top: 10px
}

.title-sub .num {
    color: #fff;
    background: #15456f;
    padding: 0 5px;
    display: inline-block;
    margin: 0 3px;
    height: 20px;
    line-height: 20px;
    font-size: 14px
}

.title-sub .line {
    height: 1px;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    float: left;
    background: #e7ecee;
    width: 100%;
    position: absolute;
    left: 0;
    top: 35px;
    display: none
}

.title-sub h2, .title-sub .r {
    font-size: 16px;
    height: 30px;
    line-height: 30px;
    color: #69737b;
    position: absolute;
    left: 20px;
    top: 24px;
    z-index: 3;
    padding: 0 15px;
    background: #fff
}

.title-sub .r {
    font-size: 14px;
    color: #8a949c;
    left: auto;
    right: 30px;
    padding-right: 0
}

.button-back .toback {
    left: 0;
    right: auto
}

.button-back h2 {
    left: 60px
}

.title-sub .sharing-tools {
    position: absolute;
    right: 10px;
    top: 30px;
    background: #fff
}

.not-infos, .erro-infos, .loding-infos {
    height: 300px;
    text-align: center;
    padding-top: 50px;
    color: #d56363;
    font-size: 14px
}

.not-infos .icons {
    display: none
}

.loding-infos {
    color: #475058
}

.loding-infos .load32 {
    margin: 0 auto
}

.loding-infos .text {
    width: 130px;
    height: 32px;
    line-height: 32px;
    margin: 0 auto
}

.jSelect {
    width: 200px;
    background: #fff;
    font-size: 12px;
    position: absolute;
    left: -9999px;
    top: -9999px;
    z-index: 115;
    border: 1px solid rgba(0, 0, 0, .2);
    box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
    display: none
}

.jSelect .items {
    overflow: hidden;
    zoom: 1
}

.jSelect .items li {
    display: block;
    padding: 0 4px;
    height: 32px;
    line-height: 32px;
    font-size: 12px;
    color: #666
}

.jSelect .items li.current, .jSelect .items li.hover {
    background: #f0f4f7;
    color: #666
}

#footer {
    height: 230px;
    position: relative
}

#footer .letter {
    height: 38px;
    padding-top: 16px
}

#footer .letter a {
    float: left;
    display: inline;
    margin-right: 25px
}

#footer .letter .yx {
    width: 28px;
    height: 28px;
    background-position: -277px 0
}

#footer .letter .yn {
    width: 60px;
    height: 32px;
    margin-top: -2px;
    background-position: -305px 0
}

#footer .letter .yk {
    width: 67px;
    height: 26px;
    background-position: -305px -145px
}

#footer .letter .yc {
    width: 75px;
    height: 28px;
    background-position: -305px -80px
}

#footer .letter .yb {
    width: 75px;
    height: 28px;
    background-position: -235px -272px
}

#footer .letter .ys {
    width: 75px;
    height: 28px;
    background-position: 0 -160px
}

#footer .letter .yx:hover {
    background-position: -277px -30px
}

#footer .letter .yn:hover {
    background-position: -305px -39px
}

#footer .letter .yk:hover {
    background-position: -305px -174px
}

#footer .letter .yc:hover {
    background-position: -305px -112px
}

#footer .letter .yb:hover {
    background-position: -313px -272px
}

#footer .letter .ys:hover {
    background-position: -77px -160px
}

#footer .rights {
    padding-top: 5px;
    color: #8a949c
}

#footer .hotl {
    height: 120px;
    padding-top: 20px
}

#footer .hotl em {
    font-size: 30px;
    font-family: Tahoma, Geneva, sans-serif;
    line-height: 2.1
}

#footer .online {
    display: inline-block;
    position: relative;
    padding-right: 20px;
    margin-left: 15px
}

#footer .online .icons {
    width: 14px;
    height: 14px;
    position: absolute;
    right: 0;
    top: 3px;
    background-position: -222px -242px
}

#footer .hotline {
    float: left;
    display: inline;
    position: relative;
    padding-left: 15px
}

#footer .hotline .icons {
    background-position: -191px -146px;
    width: 14px;
    height: 14px;
    position: absolute;
    left: 0;
    top: 5px
}

#footer .hotline em {
    font-family: Tahoma;
    font-size: 14px
}

#footer .fico {
    height: 40px;
    padding: 15px 0 0 85px;
    position: relative;
    font-size: 12px;
    color: #8a949c;
    line-height: 1.4
}

#footer .fico .icons {
    width: 81px;
    height: 27px;
    background-position: -305px -206px;
    position: absolute;
    left: 0;
    top: 18px
}

#footer .fico .icons:hover {
    background-position: -305px -240px
}

#footer .read {
    font-size: 12px;
    padding-top: 5px;
    color: #8a949c
}

#footer .tm {
    background: url(../../../local/img/common/tm.png) no-repeat right 2px;
    padding-right: 10px
}

#footer .foot-letter {
    padding-top: 25px
}

#footer .foot-letter a {
    margin-right: 15px
}

#footer a.footer-icp {
    color: #8a949c
}

#footer a.footer-icp:hover {
    color: #11405c;
    text-decoration: none
}

/*licaijin*/
.wealth-items {
    background: #f0f4f7;
    overflow: hidden
}

.wealth-items h3 {
    padding-top: 20px;
    line-height: 22px;
    text-align: center
}

.wealth-items h3 a {
    margin: 0 3px
}

.wealth-items .items {
    overflow: hidden;
    height: 70px;
    width: 100%;
    padding: 20px 0;
    margin-left: 3px;
    position: relative
}

.wealth-entry {
    width: 23%;
    float: left;
    display: inline;
    height: 70px;
    font-size: 14px;
    margin-left: -2px;
    border-left: 1px solid #d0d5d9
}

.exbtn {
    width: 28%;
    border: none
}

.wealth-entry b {
    margin-left: -15px;
    font-weight: normal;
    font-size:15px;
}

.wealth-entry ins {
    font-family: Microsoft YaHei, Helvetica, Tahoma;
    font-style: normal;
    text-decoration: none
}

.wealth-entry .bk {
    background: #fc8936;
    padding: 0 3px;
    color: #fff
}

.wealth-entry dt {
    position: relative;
    height: 20px;
    padding-top: 3px;
    margin: 0 2px 0 45px;
    color: #8a949c
}

.wealth-entry dt .yhelp, .wealth-entry dd .yhelp {
    position: absolute;
    left: auto;
    top: 7px;
    margin-left: 3px
}

.wealth-entry dd .yhelp {
    top: 5px
}

.wealth-entry dd {
    margin: 0 2px 0 26px
}

.wealth-entry dd strong {
    font-size: 24px;
    display: block;
    height: 30px;
    overflow: hidden;
    font-family: Tahoma;
    font-weight: normal
}

.wealth-entry dd p {
    position: relative;
    height: 24px;
    line-height: 22px;
    overflow: hidden
}

.wealth-entry dd.fnbk {
    color: #8a949c
}

.wealth-entry dd.fnbk a {
    margin: 0 3px
}

.wealth-entry .correct {
    position: relative;
    padding-left: 45px;
    margin: 15px 0 0 35px;
    text-align: left
}

.wealth-entry .correct i {
    position: absolute;
    left: 0px;
    top: 5px;
    width: 38px;
    height: 38px;
    display: block;
    background: url(../../img/common/dg.png) no-repeat
}

.wealth-entry .bck {
    display: block;
    font-size: 16px
}

.wealth-entry .gbtn {
    width: 160px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    margin: 10px 0 0 39px;
    text-align: center;
    background: #33b9ff;
    /*a1acb4*/
}

.wealth-products {
    overflow: hidden;
    z-index: 1
}

.profit-wealth a {
    color: #475058
}

.wealth-products .profit-wealth {
    float: left;
    width: 70%
}

.wealth-products .wealth-sum {
    float: right;
    margin-left: -1px;
    width: 30%;
    border-left: 1px solid #d3d8dc
}

.profit-wealth, .wealth-sum {
    min-height: 230px;
    height: auto !important;
    height: 230px;
    _overflow: visible
}

.profit-wealth .profit {
    padding-top: 50px
}

.profit-wealth .head, .wealth-sum .head {
    height: 50px;
    line-height: 50px;
    background: #f0f5f7;
    border-bottom: 1px solid #d3d8dc;
    position: relative
}

.profit-wealth .head {
    padding: 0 15px 0 31px;
}

.wealth-sum .head {
    padding: 0 15px 0 28px;
}

.profit-wealth .head h2, .wealth-sum .head h2 {
    font-size: 16px;
    float: left;
    display: inline;
    position: relative
}

.profit-wealth .details {
    float: right;
    padding-right: 20px
}

.profit-c {
    height: 80px;
    padding-top: 50px;
    overflow: hidden;
    position: relative
}

.profit-c dl {
    float: left;
    display: inline;
    border-left: 1px solid #d3d8dc;
    margin-left: -2px;
    height: 80px;
    width: 32%;
    position: relative
}

.profit-c dl.f {
    width: 33.5%
}

.profit-c dl.t {
    width: 33%
}

.profit-c dt {
    padding-left: 33px;
    line-height: normal;
    position: relative
}

.profit-c dt .icons {
    position: absolute;
    left: auto;
    top: 2px;
    margin-left: 3px
}

.profit-c dt b {
    float: left;
    display: inline;
    font-weight: normal
}

.profit-c dd {
    font-size: 22px;
    position: absolute;
    left: 29px;
    top: 20px;
    padding: 0
}

.profit-c em {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 24px;
    padding-right: 5px
}

.profit-c ins {
    font-size: 24px;
    color: #a1acb4;
    text-decoration: none;
    font-style: normal;
    color: #69737b
}

.profit-c .flot {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 20px
}

.profit-c .flot-org {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 18px;
    font-weight: normal;
    color: #fc8936
}

.wealth-sum .head {
    margin-left: -1px;
    border-left: 1px solid #d3d8dc
}

.wealth-sum .s-cont {
    margin: 32px 0 0 30px
}

.wealth-sum .s-cont p {
    line-height: 26px
}

.wealth-sum .correct {
    margin: 30px 30px 0
}

.wealth-sum .correct i {
    margin: 0 auto;
    width: 38px;
    height: 38px;
    display: block;
    background: url(../../img/common/dg.png) no-repeat
}

.wealth-sum .bck {
    margin: 5px auto 20px;
    display: block;
    font-size: 16px;
    text-align: center
}

.wealth-sum strong {
    display: block;
    height: 30px;
    overflow: hidden;
    font-weight: normal
}

.wealth-sum ins {
    margin-left: 7px;
    font-family: Microsoft YaHei, Helvetica, Tahoma;
    font-style: normal;
    text-decoration: none;
    font-size: 18px
}

.wealth-sum ins.mft {
    margin-left: 20px
}

.wealth-sum em {
    font-size: 18px;
    color: #fc8936
}

.wealth-sum .gbtn {
    width: 160px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    margin-top: 10px;
    text-align: center
}

.wealth-record {
    font-size: 12px;
    overflow: hidden;
    zoom: 1;
    background: transparent
}

.wealth-record .items {
    height: 57px;
    overflow: hidden;
    padding: 0 10px 0 20px;
    background: #fff;
    border: 1px solid #fff;
    border-bottom: 1px solid #e9edef
}

.wealth-record .title {
    font-size: 13px
}

.wealth-record .pdtxt {
    padding: 50px 0 150px;
    background: #fff;
    text-align: center
}

.wealth-record li {
    float: left;
    display: inline;
    width: 20%;
    height: 57px;
    line-height: 57px;
    overflow: hidden
}

.wealth-record li.col_1 {
    width: 18%;
    text-indent: 19px
}

.wealth-record li.col_2 {
    width: 10%;
    text-align: right
}

.wealth-record li.col_3 {
    width: 33%;
    text-indent: 80px
}

.wealth-record li.col_4 {
    width: 15%;
    text-indent: 20px
}

.wealth-record li.col_4_1 {
    width: 15%;
    text-indent: 20px;
    text-align: right
}

.wealth-record li.col_5 {
    text-align: right
}

.wealth-record li.lgt {
    padding-top: 10px;
    line-height: 18px
}

.wealth-record .double {
    background: #fafbfc
}
